## Python Programming Questions: for and while Loops

##  Python for Loop Questions

### 1. Write a Python program to print numbers from 1 to 50 using a for loop.

In [1]:
for i in range(1, 51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

2. ### Print all even numbers between 1 and 100 using a for loop.

In [2]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 3. Write a program to calculate the sum of numbers from 1 to N entered by the user.

In [3]:
n = int(input("Enter a number: "))
total = 0

for i in range(1, n + 1):
    total += i

print("Sum =", total)

Enter a number:  22

Sum = 253

### 4. Print the multiplication table of a number entered by the user (up to 10).

In [4]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

### 5. Write a program to reverse a string using a for loop.

In [5]:
text = input("Enter a string: ")
reverse = ""

for char in text:
    reverse = char + reverse

print("Reversed string:", reverse)

Enter a string:  nabeel

Reversed string: leeban

### 6. Count the number of vowels present in a string using a for loop.

In [6]:
text = input("Enter a string: ")
count = 0

for char in text:
    if char in "aeiouAEIOU":
        count += 1

print("Number of vowels:", count)

Enter a string:  nabeel

Number of vowels: 3

### 7. Print the following pattern:

In [7]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

### 8. Write a program to check whether a number is prime using a for loop.

In [10]:
num = int(input("Enter a number: "))
prime = True

if num <= 1:
    prime = False
else:
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break

if prime:
    print("Prime number")
else:
    print("Not a prime number")

Enter a number:  0

Not a prime number

### 9. Given a list:
numbers = [12, 5, 7, 18, 21, 30]
Print only numbers divisible by 3.

In [11]:
numbers = [12, 5, 7, 18, 21, 30]

for num in numbers:
    if num % 3 == 0:
        print(num)

12
18
21
30

### 10. Break and Continue
Print numbers from 1 to 20 but: - Skip multiples of 3. - Stop execution if number becomes greater than 15.

In [12]:
for i in range(1, 21):
    if i > 15:
        break
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14

### 12. Calculate factorial of a number using a while loop.

In [13]:
num = int(input("Enter a number: "))
fact = 1
i = 1

while i <= num:
    fact *= i
    i += 1

print("Factorial is:", fact)

Enter a number:  22

Factorial is: 1124000727777607680000